[Unit]
Description=Taskomatic
After=local-fs.target cobblerd.service sendmail.service postgresql.service httpd.service
Requires=postgresql.service httpd.service

[Service]
Type=simple
Environment=IN_SYSTEMD=1
ExecStart=/usr/sbin/taskomatic

[Install]
WantedBy=multi-user.target
